.center {
	margin: 0 auto;
}

a.nav-link, #contact, #email-contact {
	display: inline-block;
	color: #998;
}

#contact {
	display: none; /*remove when contact form ready*/
}

#contact-active {
	color: #fff!important;
}


#home-tree {
	height: 30%;
	width: 30%;
}

#top-card-row {
	margin-top: 25px;
}

.special-events {
	margin-bottom: 20px;
}

.special-event-title {
	color: #93C54B;
	font-weight: 300;
}

.card-header {
	font-size: 35px;
}

.class-dates {
	font-size: 20px;
}

.class-times {
	font-size: 16px;
}

.class-links {
	color: #93C54B;
}

.class-specs {
	font-size: 16px;
}

.contact-top {
	margin-top: 50px;
}

#facebook {
	margin: 30px 0px 0px 10px;
	text-align: center;
}

a:visited {
	text-decoration: underline!important;
}