
<!DOCTYPE html>
<html>
<head>
	<title>Sinead Patience</title>

	<link rel="stylesheet" type="text/css" href="/assets/css/sandstone.min.css">
	<link rel="stylesheet" type="text/css" href={{"../assets/css/styles.css" | relative_url }}>

    <!--for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>
<body>


<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Sinead Patience</a>
  <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">-->
  <!--<span class="navbar-toggler-icon"></span>-->
  <!--</button>-->

  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/yoga">Yoga</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/beauty-medicine">Beauty Medicine</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/community-building">Community Building</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/lifestyle-medicine">Lifestyle Medicine</a>
    </li>
  </ul>

  <li class="nav-item" id="email-contact">
    <a class="nav-link" href="mailto:sineadpatience@gmail.com">sineadpatience@gmail.com</a>
  </li> <!-- (remove email when using contact form) -->

  <!-- this nav item is hidden -->
  <!--<ul class="navbar-nav">-->
  <!--<li class="nav-item" id="contact">-->
  <!--<a class="nav-link" href="/contact">Contact</a>-->
  <!--</li>-->
  <!--</ul>-->
  <!--
<form class="form-inline my-2 my-lg-0" wtx-context="82094BDE-8ED9-45A2-9EA6-1F44043E79E0">
  <input class="form-control mr-sm-2" type="text" placeholder="Search" wtx-context="CD27679C-FAFC-4BAD-83DB-AAD22C72F3F9">
  <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
</form> -->
</nav>
	<div class="container">

  <div class="jumbotron">
  <h1 class="display-3"> <em>Upcoming Event</em> </h1>
  </div>
  </div><!-- container 1 end -->

  <img id="food-mood-img" src="../assets/images/food-and-mood-april-14.png" alt="Food and Mood April 14">
  
  <div class="container">
  <a class="btn btn-primary btn-lg float-right" id="tickets" href="https://www.eventbrite.com/e/mood-and-food-tickets-59785339560?utm-medium=discovery&utm-campaign=social&utm-content=attendeeshare&aff=escb&utm-source=cp&utm-term=listing" role="button">GET TICKETS</a>
  </div>

	<br /><br />

</body>
</html>